.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-bgc, 0.5);

    font-size: rem(16px);
    line-height: rem(24px);
    text-align: center;
    // border: 4px solid red;

    &.open {
        visibility: visible;
    }

    .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        border: none;
        font-size: rem(20px);
        cursor: pointer;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondary-bgc;
        border-radius: 10px;
        position: relative;
        height: 73%;
        width: 330px;
        // border: 4px solid red;

        &.expanded {
           width: 660px;
        }

        header {
            width: 100%;
            display: grid;
            grid-template-columns: 50px 1fr 60px;
            grid-template-rows: 25px 15px;
            grid-template-areas:
            "prev title next"
            "h h h";
            align-items: bottom;
            justify-items: center;

            button {
                display: flex;
                align-self: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                background-color: $secondary-bgc;
                color: $btn-secondary-bgc;
                padding-top: rem(6px);

                img{
                    width: 16px;
                    height: 16px;
                }

                &:hover {
                    color: $primary-color-1;
                 }
            }

            hr {
                display: block;
                padding: 0;
                border: none;
                border-top: 1px solid rgba($secondary-color-2, 0.3);
                margin-bottom: 0px;
                // border: 4px solid red;
                width: 100%;
            }

        }
        .prev { grid-area: prev; }
        .next { grid-area: next; }
        .title { grid-area: title; }
        .h { grid-area: h; }

        .signV{
            width: 70px;
            height: 70px;
            // border: 4px solid blue;
        }

        .modal-content-area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
            // border: 4px solid red;

            .currentStep{
                text-align: center;

                button {
                    font-size: 14px;
                    padding: 8px 14px;
                    background-color: $btn-secondary-bgc;
                    border: none;
                    border-radius: 7px;

                    &:hover {
                        background-color: rgba($selection-bgc, 0.9);
                    }
                 }

                .signV{
                    width: 70px;
                    height: 70px;
                    // border: 4px solid blue;
                }
            }

            .adding-post-details{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: rem(20px);
                width: 100%;
                height: 100%;


                .selected-image-container {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    margin-top: rem(-11px);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover
                    }
                }

                .post-text-area {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-self: start;
                    // justify-content: start;
                    // align-items: start;
                    // border: 4px solid red;

                    .post-owner-details {
                        display: flex;
                        align-items: start;
                        justify-content: start;

                        .owner-icon{
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }

                        .owner-username{
                            text-align: start;
                            margin-left: 12px;
                            font-weight: bold;
                            font-size: rem(14px);
                            line-height: rem(18px);
                          }
                    }
                    textarea {
                        margin-top: 10px;
                        border: none;
                        background-color: $secondary-bgc;
                        columns: $secondary-color-1;
                        resize: none;
                        font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
                        font-size: rem(16px);
                        line-height: rem(24px);
                    }
                }
            }
        }
    }
}
