// .card-container {
//     display: grid;
//   }

.PostOwnerInfoCard-layout {
    display: grid;
    grid-template-columns: 39px 1fr 24px;
    column-gap: 5px;
    padding: 0 0 12px 4px;
}

.icon {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    // border: 2px solid red;
  }

.userFullName {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
    line-height: 16px;
}

.info {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
}

.userName,.date,.additionalText {
    margin: 0;
    padding: 0;
}

.userName {
    font-weight: bold;
}

.date {
    color: $secondary-color-1;
}

.menuIcon {
    grid-column: 3;
    grid-row: 1 / span 2;
    justify-self: end;
    align-self: center;
}

.post-action-menu-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.7);
    // border: 2px solid red;
 }
