.post-preview {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 470px;
    font-size: rem(14px);
    line-height: rem(18px);
    letter-spacing: normal;

    .post-header {
       display: grid;
       grid-template-columns: 32px auto auto auto auto;
       grid-template-rows: auto auto;
       grid-template-areas:
       "o u d . m"
       "o fn . . m";
       grid-gap: 0;
       align-items: center;
       width: 100%;

       .owner-icon {
         grid-area: o;
         width: 32px;
         height: 32px;
         border-radius: 50%;
       }

       .owner-username{
         grid-area: u;
         align-self: end;
         text-align: start;
         margin-left: 12px;
         font-weight: bold;
       }

       .owner-fullName{
         grid-area: fn;
         margin-left: 12px;
         font-size: rem(12px);
         line-height: rem(16px);
       }

       .date {
         grid-area: d;
         color: $secondary-color-1;
         text-align: start;
       }

       .menu {
         grid-area: m;
         justify-self: end;
         cursor: pointer;
         width: 23px;
         height: 23px;
       }
    }

    .post-image {
      width: 100%;
      height: auto;
      // width: 470px;
      // width: 470px;
      border-radius: 5px;
      margin-bottom: 0;
    }

    .post-message {
       padding-bottom: 12px;
       margin-top: 14px;
    }

   .svg {
      width: 23px;
      height: 23px;

      &.with-effect{
         &:hover {
            filter: invert(50%) sepia(50%) saturate(20%) hue-rotate(90deg) brightness(100%) contrast(100%) grayscale(0%);
         }
      }
   }

   hr {
      border: none;
      border-top: 1px solid $secondary-bgc;
      width: 100%;
      margin-bottom: 15px;
   }
}
