.PostOwnerInfoDetailsCard{
    // width: 303px;
    height: 82px;
    display: grid;
    grid-template-columns: 39px 1fr 24px;
    // justify-items: center;
    // align-items: center;
    align-content: center;
    justify-content: center;

    column-gap: 5px;
    padding: 0 0 12px 12px;
    // border: 1px solid $separation-line-bgc;

    .icon {
        grid-column: 1;
        grid-row: 1 / span 2;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        justify-self: center;
        align-self: center;
        // border: 2px solid red;
      }

    .userFullName {
        grid-column: 2;
        grid-row: 2;
        font-size: 12px;
        line-height: 16px;
        // border: 2px solid red;
    }

    .info {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: start;

        font-size: 14px;
        line-height: 18px;
        // border: 2px solid red;


        .userName,.point,.followStatus {
            margin: 0;
            padding: 0;
        }

        .userName {
            font-weight: bold;
        }

        .point {
            color: $secondary-color-1;
        }

        .followStatus {
            font-weight: 600px;
        }
    }
}
