.saved-expanded-view {
    display: flex;
    flex-direction: column;
    align-items: start;

    .saved-button {
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        display: flex;

        color: $secondary-color-1;
        border: none;
        font-size: 14px;
        line-height: 18px;

        .img {
            width: 18px;
            height: 18px;
        }
    }

    .expanded-saved-posts-grid {
        display: grid;
        width: 935px;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;

        .saved-post-image {
            // width: 100%;
            // height: auto;
            width: 309px;
            height: 309px;
            object-fit: cover;
        }
    }
}
