.main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;

    .sidebar-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: $sidebar-height-hamburger;
        z-index: 1000;
    }

    .main-wrapper {
        display: flex;
        flex: 1;
        width: 100%;
        max-width: 483px;
        margin: 0 auto; // center content
        padding-top: 25px;
        padding-bottom: $sidebar-height-hamburger;
    }

    @media (min-width: 501px) {
        .main-wrapper {
            max-width: none; // removes constraint
        }
    }

    @media (min-width: 767px) {
        flex-direction: row;

        .sidebar-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: $sidebar-width-collapsed;
            height: 100vh;
        }

        .main-wrapper {
            margin-left: $sidebar-width-collapsed;
            padding-bottom: 0;
        }
    }

    @media (min-width: 1263px) {
        .sidebar-wrapper {
            width: $sidebar-width;
        }

        .main-wrapper {
            margin-left: $sidebar-width;
        }
    }
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}
