.main-layout {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    .sidebar-wrapper {
        position: fixed;
        margin: 0;
        width: $sidebar-width;
        height: 100vh;
        z-index: 1000;
        // border: 4px solid red;
    }

    .content-wrapper {
        margin-left: $sidebar-width;
        width: calc(100% - $sidebar-width);
        height: 100vh;
        // border: 4px solid pink;
    }

    @include for-mobile-layout {
        flex-direction: column-reverse;

        .sidebar-wrapper {
            width: 100%;
            height: $sidebar-height-hamburger;
            margin-bottom: 10px;
            // border: 4px solid purple;
        }

        .content-wrapper {
            margin-left:0;
            width: 100%;
            //height: calc(100% - $sidebar-height-hamburger);
            flex: 1;
            // border: 4px solid pink;
        }
    }

    @include for-narrow-layout {
        .sidebar-wrapper {
            width: $sidebar-width-collapsed;
            // border: 4px solid yellow;
        }
    }

    @include for-normal-layout {
        .sidebar-wrapper {
            width: $sidebar-width;
            // border: 4px solid red;
        }
    }
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

