.main-layout {
    display: flex;
    flex-direction: row;

    // border: 4px solid red;
    width: 100%;
    .sidebar-wrapper {
        position: fixed;
        margin: 0;
        flex: 0 0 244px;
        height: 100vh;
        z-index: 1000;
        // border: 1px solid aqua;
    }
    .main-wrapper {
        display: flex;
        width: 630px;
        padding-top: 25px;
        // border: 1px solid yellow;
    }
    .ad-wrapper {
        flex: 0 0 383px;
        height: 100vh;
        // border: 1px solid pink;
        // background-color: pink;
    }
    .spacer{
        flex: 1;
        // border: 4px solid blue;
        // background-color: blue;
        &.left {
            margin-left: $sidebar-width;
        }
    }


    @media (max-width: 1276px) {
        .sidebar-wrapper {
            flex: 0 0 244px;
        }
        .spacer {
            flex: 1;
        }
    }

    @media (max-width: 1262px) {
        .sidebar-wrapper {
            flex: 0 0 $sidebar-width-collapsed;
        }
        .spacer {
            width:$sidebar-width-collapsed;
            &.left {
                margin-left: $sidebar-width-collapsed;
            }
        }
    }

    @media (max-width: 1160px) {
        .spacer {
            width:29px;
        }
    }

    @media (max-width: 1159px) {
        .ad-wrapper {
            display: none;
        }
        .spacer {
            width:220px;
        }
    }

    @media (max-width: 766px) {
        .main-layout {
            flex-direction: column-reverse;
        }
        .ad-wrapper {
            display: none;
        }
        .sidebar-wrapper {
            display: flex;
            width: 100%;
            height: 48px;
            margin-top: calc(100vh - 48px);
        }
        .spacer.left {
            margin-left: 0;
        }
    }


    @media (max-width: 645px) {
        .main-layout {
            flex-direction: column-reverse;
        }
        .ad-wrapper {
            display: none;
        }
        .spacer.left {
            display: none;
        }
        .spacer.right {
            display: none;
        }
        .sidebar-wrapper {
            display: flex;
            width: 100%;
            height: 48px;
            margin-top: calc(100vh - 48px);
            // background-color: brown;
        }
        .main-wrapper {
            width: 100%;
            // background-color: aquamarine;
        }
    }

    @media (max-width: 500px) {
        .main-layout {
            flex-direction: column-reverse;
        }
        .ad-wrapper {
            display: none;
        }
        .sidebar-wrapper {
            width: 100%;
            // height: 48px;
            flex: 0 0 48px;
        }
        .main-wrapper{
            width: 483px;
        }
    }
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}
