.comment-count {
    font-size: rem(14px);
    line-height: rem(18px);
    // font-weight: bold;
    margin-top: 14px;
    color: ($secondary-color-1);
}

.comment-area {
    //width: 335px;
    width: 100%;
    margin-top: 5px;
    margin-left: -1px;
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;

    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 8px 0;

    font-size: rem(14px);
    line-height: rem(18px);
    // border: 4px solid red;
    //height: 22px;
    //max-height: 50px;

    textarea {
       // height: rem(22px);
       // max-height: calc(rem(22px) * 4);
       //height: 100%;
       //overflow: auto;
       //flex: 1;

       flex: 1;
       align-self: stretch;
       padding: 8px;
       line-height: 1.4;
       overflow: hidden;

       border: none;
       background-color: $primary-bgc;
       color: ($primary-color-1);
       resize: none;
       font-size: (14px);
       line-height: (18px);

    //    border: 2px solid blue;
       &::placeholder {
           color: $secondary-color-1
       }

       &:focus {
           outline: none;
           border: none;
       }

       .comment-owner-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
       }
       // border: 4px solid blue;
    }

    .submit-comment {
          height: auto;
          background-color: $primary-bgc;
          color: $btn-secondary-bgc;
          font-weight: bold;
          cursor: pointer;

          &:hover {
              color: $primary-color-1;
          }
          // border: 4px solid greenyellow;
    }

    .emoji {
       margin-left: auto;
       cursor: pointer;
       width: 13px;
       height: 13px;

       &.large {
         width: 24px;
         height: 24px;
       }
    }

   .emoji-picker {
       position: absolute;
       bottom: 50px;
       right: 10px;
   }

   .comment-owner-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
   }
 }
