.sidebar-search {
    display: flex;
    align-items: start;
    width: $sidebar-search-width;
    background-color: $primary-bgc;
    // border: 2px solid purple;

    .search-title {
        font-size: 24px;
        line-height: 18px;
        font-weight: 600;
        margin: 40px 25px;
    }

    input{
        background-color: $btn-settings-bgc;
        font-size: 16px;
        line-height: 18px;
        border-radius: 8px;
        box-shadow: none;
        width: 364px;
        height: 40px;
        padding: 3px 16px;
        color: $primary-color-1;
        margin: 0 17px 20px 16px;
        border: none;
    }

    hr {
        border: none;
        border-top: 1px solid $separation-line-bgc;
    }
}
