// normal/full layout (laptop, desktop)
.layout-container {
    width: 100%;
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: start;

    .sidebar-wrapper {
        margin: 0;
        max-width: 200px;
    }
    .content-area {
        display: grid;
        grid-template-columns: rem(80px) 1fr rem(80px);
        grid-template-rows: 0.3fr 1.7fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "s s s"
          ". p .";

        // Story section
        .featured-stories {
            width: rem(56px);
            height: rem(56px);
            display: flex;
            flex-direction: row;
            gap: rem(15px);
            grid-area: s;
            grid-column: 1/-1;

            img {
                border-radius: 50%;
            }
        }

        // Posts section
        .posts {
            margin-top: 10px;
            display:flex;
            flex-direction: column;
            padding: 10px;
            justify-self: center;
            align-self: center;
            grid-area: p;
            // max-width: rem(470px);
        }
    }
}

// mobile layout
// .posts-container  {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 0.3fr 1.7fr;
//     gap: 0px 0px;
//     grid-auto-flow: row;
//     grid-template-areas:
//       "s"
//       "p";
//     height: 100vh;
//}

//   .story {
//     justify-self: start;
//     align-self: start;
//     grid-area: s;
//   }

//   .post {
//     justify-self: center;
//     align-self: stretch;
//     grid-area: p;
//   }


