// Colors
$clr1: #000000;
$clr2: #262626;
$clr3: #f5f5f5;
$clr4: #0095f6;
$clr5: #ffffff;
$clr6: #a8a8a8;
$clr7: #ed4956;

// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
