// Primary Colors:
$primary-bgc: #000000;
$primary-color-1: #f5f5f5;

// Secondary Colors:
$secondary-bgc: #262626;
$secondary-color-1: #a8a8a8;
$secondary-color-2: #737373;

$btn-secondary-bgc: #0095f6;
$btn-secondary-color-1: #ffffff;

$link-btn-secondary-bcg: #ffffff10;
$btn-secondary-color-2: #ed4956;

$selection-bgc: #025ae78c;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
