// Primary Colors:
$primary-bgc: #000000;
$primary-color-1: #f5f5f5;

// Secondary Colors:
$secondary-bgc: #262626;
$secondary-color-1: #a8a8a8;
$secondary-color-2: #737373;

$btn-secondary-bgc: #0095f6;
$btn-secondary-color-1: #ffffff;

$link-btn-secondary-bcg: #ffffff10;
$btn-warning-color: #ed4956;
$btn-settings-bgc: #363636;
$selection-bgc: #025ae78c;

// $separation-line-bgc: rgba($secondary-color-2, 0.3);
$separation-line-bgc: rgba($secondary-color-2, 0.5);
//Constants
$sidebar-width: 244px;
$sidebar-width-collapsed: 72px;
$sidebar-height-hamburger: 48px;

// Breakpoints
$mobile-breakpoint: 766px; // width <= 766
$narrow-breakpoint: 1263px; // [ 767 .. 1263 ]
$normal-breakpoint: $narrow-breakpoint + 1; // width => 1264
